*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.logo{
    width: 186px;
    height: 75px;
}
.logo2{
    width: 400px;
    height: 75px;
}
.inbutt{
    display: flex;
}
.inbutt input{
    margin-top: 20px;
    width: 452px;
    height: 36px;
    font-size: 20px;
}
.inbutt .tk{
    margin-left: -30px;
    margin-top: 20px;
    width: 36px;
    height: 36px;
    
}
.bo .lh{
    margin-top: 18px;
    height: 50px;
}
.bo{  
    margin: 30px auto;
    width: 1500px;
    height: 75px;
    display: flex;
    justify-content: space-between;
}


.menu{
    height: 50px;
    background-color:#21459A ;
    margin-bottom: 30px;
}
.menuc{
    width: 1600px;
    margin: 0 auto;
    
}

a{
    text-decoration: none;
}
.cach{
    height: 40px;
    border-right: 1px solid whitesmoke;
    margin-top: 5px;
}
.nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}
.nav .css a{
    position: relative;
}
.nav .css a i{
    position: absolute;
    top: 1px;
    margin-left: 5px;
}
.nav .css .subnav {
    display: none;
    position: absolute;
    width: 300px;
    list-style: none;
}
.nav .css:hover .subnav{
    display: block;
    background-color: whitesmoke
    
}
.nav .css .subnav a:hover{
    text-decoration: underline;
    color:#21459A ;
}
.nav .css .subnav a{
    padding: 0 15px;
    color: black;
    border: 1px solid rgb(48, 47, 47);
    text-align: start;
}
.nav .css{
    display: block;
    position: relative;
    width: 100%;
}
.nav  .css  a{
    color: whitesmoke;
    font-size: 15px;
    line-height: 50px;
    display: block;
    text-align: center;
    text-transform: uppercase;
}
.nav > .css:hover > a{
    color: yellow;
    
}

/*  */
.full{
    margin: 0 200px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}
.path{
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    font-size: 30px;
}
.left{
    float: left;
    width: 350px;
    margin-bottom: 30px;
    margin-right: 50px;
}
/*  */
.product1{
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;

}
.danhmuc2{
    list-style: none;
    padding: 20px 0;
}
.danhmuc1{
    color: black;
    margin-top: 10px;
}
.danhmuc2 li{
    padding: 10px 0;
  
}
.bi-check-circle{
    float: right;
}
.danhmuc1:hover{
    border-bottom: 1px solid black;
}
/*  */
.filter1{
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    margin-top: 50px;

}
.loc2{
    list-style: none;
    padding: 20px 0;
}
.loc2 li{
    padding: 10px 0;
}
.loc1{
    color: black;
    margin-top: 10px;
}

.origin{
    padding-top: 20px;
}
input#filter11_9977 {
    width: 20px;
    height: 20px;
}
.search{
    text-align: center;
    background-color: yellow;
    padding: 10px ;
    margin: 0 95px;
}
/*  */
.related-products1{
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    margin-top: 50px;

}
/*  */
.related-products2{
    display: flex;
   
}
.information1{
    list-style: none;
}
.img{
    padding: 10px 10px 10px 0;
}
.information2{
    color: black;
    
    font-size: 20px;
}
.information{
padding: 20px 0;
}
.ma{
    padding: 10px 0;
}
.gia{
    font-size: 30px;
    color: blue;
}
.related-products2{
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}


/*  */
.right{
    display: flex;
}
.sofa img{
    width: 100%;
   margin: 12px 0;
   padding-bottom: 15px;
   border-bottom: 1px solid black;
}
.sofada1{
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.select{
    float: right;
    border: 1px solid black;

   position: absolute;
    min-width: 222px;
    z-index: 7;
    margin-left: 1004px;
    
}
.select a{
    color: black;
    
    
}
/*  */
.select1{
    list-style-type: none;
    display: flex;
}
.select1 > li{
    display: inline-block;
}
.subnav li:hover{
    background-color:gainsboro;
    
}
.select1 li:hover .subnav{
    display: block;
}
.select1 a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 12px;
    display: inline-block;
}
.select1 .subnav{
       display: none;   
      list-style: none;
      box-shadow: 0 0 10px rgba(0,0,0,0.9);
}
.subnav a{
   
    color: black;
}
.subnav{
   border-top: 1px solid black;
  background-color: white;
    
}

/*  */
.sp img{
    border: none;
    padding: 90px;
    /* width: 350px;
    height: 250px;
    padding: 20px; */
    
    
}
.list1{
    display: flex;
     position: absolute; 
     /* margin-right: 200px;  */
    margin-top: 60px;
 width: 1225px;
 
 justify-content: center;
 z-index:6;
    
}
.sp{
   width: 33.3333%;
   /* border: 1px solid black; */
 
}

.gia1{
    
    padding: 12px 6px;
}
   .thongtin a{
    color: black;
   }
/*  */
.thongtin{
    list-style-type: none; 
    
}
.thongtin > li{
       /* display: inline-block;    */
       text-align: center;
}
.subnav1 li{
    padding-bottom: 10px;
}
.sp:hover{
    border: 1px solid black;
}
.sp:hover .subnav1{
    display: block;
    border-top: 1px solid black;
    /* transition: 2s; */
}
.thongtin li a{
    /* text-decoration: none; */
    /* line-height: 16px;  */
    /* padding: 0 12px;  */
     display: inline-block;   
    text-align: center; 
}
.thongtin .subnav1{
       display: none;   
      list-style: none;

}
.subnav a{
    
    color: black; 
}
.subnav1{
   border-top: 1px solid black;
  background-color: white;
  padding:10px;

  /* transition: 3s; */
    
} 


li.gia1{
    color: blue;
    /* padding: 0 140px; */
}
.sp img {
   
   
    animation: zoom-in-zoom-out 5s ease-out infinite;
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1.3, 1.3);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1.3, 1.3);
    }
  }
  .detail{
    background-color: yellow;
    text-align: center;
    padding-top: 10px;
  }
  .doimau{
    color: red;
   
  }

  /*  */

  .list2{
    padding-top: 450px;
    display: flex;
      position: absolute;  
     /* margin-right: 200px;  */
    margin-top: 60px;
 width: 1225px;
 z-index: 5;
  justify-content: center; 
 
    
}
.list3{
    padding-top: 900px;
    display: flex;
      position: absolute;  
     /* margin-right: 200px;  */
    margin-top: 60px;
 width: 1225px;
 z-index: 4;
  justify-content: center;
    
}
.list4{
    padding-top: 1350px;
    display: flex;
      position: absolute;  
     /* margin-right: 200px;  */
    margin-top: 60px;
 width: 1225px;
 z-index: 3;
  justify-content: center;
    
}
.list5{
    padding-top: 1800px;
    display: flex;
      position: absolute;  
     /* margin-right: 200px;  */
    margin-top: 60px;
 width: 1225px;
 z-index: 2;
  justify-content: center; 
    
}
img.anhcuoi{
    padding-top: 2350px;
    z-index: 1;
    border: none;
}

/*  */


/*  */
footer{
    margin-top: -200px;
    background-color: #ececec ;
    /* margin: 0 -200px ; */
    padding: 0 200px;
}
.cuoi-all{
    display: flex;
    margin: 0 auto;
    /* width: 1600px; */
    margin-top: 350px;
    border-bottom: 2px solid black;
    
}
.nd-trai{
    width: 400px;
}
.cuoi-all >.nd-trai >img{
    margin-top: 20px;
    width: 115px;
    height: 50px;
}
.nd-trai .div-icon img{
    width: 40px;
    height: 40px;
}
.nd-trai .div-icon .tb1{
    height: 50px;
    width: 120px;
}
.nd-phai{
    margin-left: 10px;
    width: 1200px;
    margin-bottom: 20px;
}
.nd-phai .nd-phai-dau{
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid black;
}
.nd-phai .nd-phai-dau .container{
    
    width: 390px;
}
.nd-phai .nd-phai-dau .container h3{
    border-bottom: 1px solid black;
    font-size: 20px;
    padding-bottom: 20px;
}
.nd-phai-dau .container .nd-chu{
    border-top: 1px solid  #a09d9d;
    padding-top: 10px;
    margin-bottom: 30px;
}
.nd-phai-dau  .container  .nd-chu  p  a {
    color: black;
    font-size: 17px;
}
.nd-phai-dau  .container  .nd-chu  p{
    padding: 5px 0;
}
.nd-phai-dau > .container > .nd-chu >  p:hover > a{
    color: blue;
    text-decoration: underline;
}
.nd-phai-cuoi{
    width: 1200px;
    margin-top: 15px;
}
.nd-phai-cuoi >h4{
    font-size: 20px;
    margin-bottom: 15px;
}
.inputt-cuoi {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.inputt-cuoi input{
    width: 520px;
    height: 50px;
    font-size: 20px;
}
.inputt-cuoi button{
    width: 115px;
    height: 50px;
    font-size: 23px;
    background-color:  #213f9a;;
}
.inputt-cuoi button a{
    color: #fff201;
}
.inputt-cuoi button a:hover{
    color: whitesmoke;
}
footer> h3{
    margin-left: 150px;
    padding: 30px 0;
    color: #8e8787;
}
.lhhot > img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 200px;
   
}
.button1{
    width: 250px;
    height: 50px;
    background-color:#213f9a ;
    text-align: center;
    border-radius: 20px;
    font-size:25px;
    
}
.button1 a{
    color: #fff201;
}
.button1 a:hover{
    color: whitesmoke;
}
.button2{
    width: 35px;
    height: 35px;
    margin: 0 10px;
    margin-top: 10px;
}
.hotline{
    display: flex;
}
.lhhot{
    
    margin-left: 1620px;
}
.banner{
    text-align: center;
}


.xoa{
    clear: both;
}
/*  */
/* .swiper{
    
    display: flex;
}
.chu{
    font-size: 18px;
} */

/* h3.care-about1 {
    margin-top: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}   */
.care-about{
    /* width: 1600px; */
    margin: 20px auto;
}
.care-about .chu a h3{
    padding-bottom: 20PX;
    color: black;
    margin-top: 30px;
    font-size: 22x;
    border-bottom: 1px solid black;
}
.swiper{
    margin-top: 20px;
}
.anhnha1  img.a1{
    width: 540px;
} 
.anhnha1{
    margin-top: 10px;
    width: 530px;
}

.anhnha1 .ndb a{
    display: flex;
    color: black;
    font-size: 23px;
}
.anhnha1 .ndb a h5{
    margin-left: 10px;
}
.anhnha1 .ndb a h5:hover{
    color: blue;
}
.cuoi-all{
    font-size: 22px;
}



